html, body { height: 100%; margin: 0; padding:0;  border-top: 4px solid #111; vertical-align: baseline; }

header, article { display: block; }

body{
	font-family: "source-sans-pro",sans-serif;
}

.container {
	justify-content: center;
	-webkit-justify-content: center;
  display: flex;
  justify-content: flex-center;
  flex-direction: column;
	
	align-items: center;
	-webkit-align-items: center;
	
	min-height: 97%; 
	width: 99%;

  valign: center;
}

.cover{
    text-align: center;
    background-color: #fff;
    margin-top: .7%; 
}

.content {
    background-color: #111;
    height: 100%;
    width: 100%;
}

.cover p {
    font-size: 2.0em;
    font-weight: 100;
}

#arrow {
    animation-name: arrowDown;
    animation-duration: 1s;
    -webkit-animation-name: arrowDown;
    -moz-animation-name: arrowDown;
    font-size: 3em;
    height: auto;
    padding-top: 90%;
    position: relative;
}

ol, ul {
    list-style: none;
}
a {
    decoration: none;
}

.header {
    font-family: "sail";
    font-size: 6em;
}

@-moz-keyframes arrowDown {
    0% { top: -40px; opacity: 0;}
    60% { top: -40px; opacity: 0;}
    100% { top: 0px; opacity: 1;}
}
@-webkit-keyframes arrowDown {
    0% { top: -40px; opacity: 0;}
    60% { top: -40px; opacity: 0;}
    100% { top: 0px; opacity: 1;}
}
@keyframes arrowDown {
    0% { top: -40px; opacity: 0;}
    60% { top: -40px; opacity: 0;}
    100% { top: 0px; opacity: 1;}
}
