.slider{
    -webkit-appearance: none;
    width:200px;
    height:6px;
    background: #d3d3d3;
    border: 2px solid #AAAAAA;
    border-radius: 5px;
}

button {
  background: #ededed;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:focus {
  background: #e5e5e5;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}
